<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        ::-webkit-scrollbar{
            background: rgb(34, 56, 119);
            width: 2px;
        }
        ::-webkit-scrollbar-thumb{
            background: rgb(75, 123, 255);
        }
        #chatroom-container{
            margin: auto;
            height: 80vh;
            width: 50%;
            border: 1px solid rgb(112, 150, 255);
            overflow-y: scroll;
            padding: 10px 10px 35px 10px;
            position: relative;
            background: aliceblue;
        }
        .chat{
            padding: 3px 30px;
            border-radius: 10px;
            border: 1px solid rgb(112, 150, 255);
            width: 40%;
            background-color: rgb(255, 242, 224);
            margin-bottom: 10px;
        }
        .mychat{
            margin-left: auto;
            text-align: right;
        }
        .sender{
            font-weight: 400;
            color: rgb(148, 177, 255);
        }
        .chat-text{
            font-weight: 300;
            color: #494949;
        }
        .chat-input-container{
            position: absolute;
            bottom: 0;
        }
        .chat-input{
            position: fixed;
            bottom: 0;
            width: 50% !important;
            margin-bottom: 25px;
            display: flex;
            padding: 0;
        }
        #chat-input-field{
            border: 1px solid rgb(112, 150, 255);
            width: 90%;
            border-radius: 10px;
            margin-right: 10px;
            padding: 10px;
        }
        #send-chat{
            border: none;
            border-radius: 10px;
            background: rgb(112, 150, 255);
            color: #ffff;
            width: 10%;
        }
        #send-chat:hover{
            transition: ease-in 200ms;
            background: rgb(72, 111, 216);
        }

        input:focus, button:focus{
            outline: none;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">chat room</h1>
    <div id="chatroom-container">
        <div class="chat mychat">
            <p class="sender mychat">sender</p>
            <p class="chat-text mychat">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-input-container">
            <div class="chat-input">
                <input type="text" name="" id="chat-input-field">
                <button id="send-chat">send</button>
            </div>
        </div>
    </div>
</body>
<script>
    //const uuid = require('uuid');
    //const myID = uuid.v4()
    let ws;
    
    const messageContainer = document.querySelector('#chatroom-container');
    const send = document.querySelector('#send-chat');
    let messageBox = document.querySelector('#chat-input-field');
    

        
       function init(){
            if(ws){
                ws.onerror = ws.onopen = ws.onclose = null;
                ws.close();
            }

            ws = new WebSocket('ws://localhost:4030');

            ws.onopen = () => {
                console.log('connection opened');
            }

            console.log(ws.onmessage)

            ws.onmessage = ({ data }) => showMessage(data);

            ws.onclose = function() {
                ws = null;
            }

            send.addEventListener('click', () => {
                if(!ws){
                    return alert(" no web socket connection");
                }
                
                if(messageBox.value == ''){
                    return alert(" no chat to send")
                }
                //send message value to socket
                ws.send(messageBox.value);
                //show message to page
                showMessage(messageBox.value);
            })
        }
        init();
        
        function showMessage(msg){
            let message = document.createElement('div');
            message.innerHTML= `
            <div class="chat">
                <p class="sender">sender</p>
                <p class="chat-text">${msg}</p>
            </div>`;
            messageContainer.appendChild(message);
            //apend buuble chat to chat container

            messageBox.value = '';
            //clear message box after send it
        }
        
</script>
</html>